$icon-font-path: '../fonts/';

// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);


$green: #27ae60;
$green-light: #2ecc71;
$grey: #ededed;
$blue-dark: #2c3e50;

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: $blue-dark;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}


.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex: 0;
}

.clock {
  flex: 1;
}

main .status {
  flex: 0 0 247px;
}

.status-active {
  /* put the nav on the left */
  order: -1;
}




.box {
  margin: 5px;
  background: white;
  text-align: center;
  clear: both;

  .header { 
    text-transform: uppercase;
    border-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 0 0 2px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 150%;
  }

  .count { 
    font-size: 200px;
    line-height: 160px;
  }
}

.clock { 
  font-weight: 300;

  .hours,
  .mins,
  .secs,
  .date {
    clear: none;
    float: left;
    width: calc(100% / 3 - 10px);
    height: 150px;
    color: $blue-dark;
    font-size: 125px;
  }

  .date {
    width: 98%;
    font-size: 400%;
    height: auto;
  }
}

.status-sides {
  width: 100%;
}



.box-list {
  width: 99%;
  min-height: 100px;

  .ticketList {
    position: relative;
    float: left;
    background: white;
    height: 100%;
    width: 245px;
    font-size: 100%;
    border-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 0 1px;

    .count {
      font-size: 300%;
      line-height: 50px;
    }
  }


  .tickets {
    width: calc(100% - 248px);
    position: relative;
    float: right;
    color: black;
  }
}

.tickets .desc {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}





// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }


}
